@{ ViewBag.Title = "Filter"; }
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<p class="btn btn-block btn-default">
    @Html.ActionLink("Product", "Index")
</p>
<br/>
<br/>
<p class="btn btn-block btn-default">
    @Html.ActionLink("Customer", "Names")
</p>
<br/>
<br/>
<p class="btn btn-block btn-default">
    @Html.ActionLink("Customer Purchase", "Customer")
</p>



